 
h1,
h2,
h3 {
  font-family: Arvo, serif;
}

#exampleContainerBasic,
#exampleContainerCustom {
  margin-bottom: 50px;
}

#exampleContainerBasic input,
#exampleContainerCustom input {
  border-width: 2px;
  box-shadow: none;
}

#exampleContainerCustom {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #ddd;
}

.events-container {
  width: 100%;
  font-size: 13px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.events-container thead {
  background-color: #f7f7f7;
  color: #999;
  border-bottom: 1px solid #ddd;
}

.events-container tr td {
  padding: 5px;
}

.events-container tr td:first-child {
  font-size: 12px;
  color: #aaa;
  border-right: 1px solid #eee;
}

.events-container tr td .name {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.media {
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.media-body {
  white-space: normal;
}

.row-custom-gists .gist-file
{
  width: 53%;
  float: left;
}

.row-custom-gists .gist-file:first-child {
  width: 45%;
  margin-right: 2%;
}

#forkongithub a {
  background:#244776;
  color:#fff;
  text-decoration:none;
  font-family:arial, sans-serif;
  text-align:center;
  font-weight:bold;
  padding:5px 40px;
  font-size:1rem;
  line-height:2rem;
  position:relative;
  transition:0.5s;
}

#forkongithub a:hover {
  background:#000;
  color:#fff;
}

#forkongithub a::before,
#forkongithub a::after {
  content:"";
  width:100%;
  display:block;
  position:absolute;
  top:1px;
  left:0;
  height:1px;
  background:#fff;
}

#forkongithub a::after {
  bottom:1px;
  top:auto;
}

@media screen and (min-width:800px) {
  #forkongithub {
    position:absolute;
    display:block;
    top:0;
    right:0;
    width:250px;
    overflow:hidden;
    height:200px;
    z-index:9999;
  }

  #forkongithub a {
    width:250px;
    position:absolute;
    top:60px;
    right:-60px;
    font-size: 16px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    box-shadow:4px 4px 10px rgba(0, 0, 0, 0.8);
  }
}
