<!DOCTYPE html>
<html> 
<head>
  <title>Marionete Autocomplete</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo:400" type="text/css">

  <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/main.css">

  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript" src="./js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./js/underscore.min.js"></script>
  <script type="text/javascript" src="./js/backbone.min.js"></script>
  <script type="text/javascript" src="./js/backbone.marionette.min.js"></script>
  <script type="text/javascript" src="./dist/autocomplete.min.js"></script>
</head>
<body class="fade">
  <div class="container">
    <div class="page-header text-center">
      <h1>AutoComplete</h1>
      <p>
        <a href="#exampleContainerBasic">Basic example</a> - 
        <a href="#exampleContainerCustom">Custom Templates</a> - 
        <a href="#exampleContainerCustom">Using a Remote</a>
      </p>
    </div>
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4 text-center" id="exampleContainerBasic"></div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div id="eventLog"></div>
      </div>
      <div class="col-xs-8">
        <script src="https://gist.github.com/KyleNeedham/df7302d45510af3e9281.js"></script>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4 text-center" id="exampleContainerCustom"></div>
    </div>
    <div class="row row-custom-gists">
      <div class="col-xs-12">
        <script src="https://gist.github.com/KyleNeedham/66e113454f378db88447.js"></script>
      </div>
    </div>
  </div>

  <!-- Templates -->
  <script id="example" type="text/html">
    <h2>Basic Example</h2>
    <div class="row">
      <div class="col-xs-12">
        <input class="form-control input-lg" placeholder="Counties of the world">
      </div>
    </div>
  </script>

  <script id="exampleCustom" type="text/html">
    <h2>Cutsom Template/Remote</h2>
    <div class="row">
      <div class="col-xs-12">
        <input class="form-control input-lg" placeholder="Movie Titles">
      </div>
    </div>
  </script>

  <script id="events" type="text/html">
    <table class="events-container">
      <thead>
        <tr>
          <td colspan="3">Events</td>
        <tr> 
      </thead>
      <tbody class="events"></tbody>
      <tfoot class="footer"></tfoot>
    </table>
  </script>

  <script id="eventItem" type="text/html">
    <td class="text-right" width="25">
      <span class="number"><%= index %></span>
    </td>
    <td>
      <span class="name"><%= name %></span>
      <span class="label label-danger pull-right"><%= count %></span>
    </td>
  </script>

  <script id="cutsomChild" type="text/html">
    <a href="#">
      <div class="media">
        <div class="media-left">
          <img src="<%= posters.thumbnail %>">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= title %></h4>
          <%= synopsis.substr(0, 75) %>
        </div>
      </div>
    </a>
  </script>

  <script type="text/javascript" src="./js/main.js"></script>
</body>
</html>